{{> login-bar}}

<div class="container-bar-articlepage">
    {{> search}}
</div>

<div class="aligne">


<div class= "article-container">
    <h1 class="article-title">{{titulo}}</h1>

    <div class="relcontainer">
     {{#each related}}

       <ul class="ulrel">
           <li class="rel"> {{this.article}}</li>
       </ul>
  
     {{/each}}
      </div>

        <div class="article-text">{{{texto}}}</div>

</div>

