{{> login-home-bar}}

<div class="container-bar-articlepage">
    {{> search}}
</div>

<div class="aligne">


<div class= "article-container">
    <h1 class="article-title">{{titulo}}</h1>

    <div class="relcontainer">
     {{#each related}}

       <ul class="ulrel">
         <a href = '/article/{{this.id}}'>  <li class="rel">
               {{this.article}}
            </li></a>
       </ul>
  
     {{/each}}
      </div>

        <div class="article-text">{{{texto}}}</div>

</div>

