


<h3 id= "title">Editar</h3>

<form method="post">

<h4 id="title">Título</h4>
<input type= "text" id="title-input">

<div id="editor">
    <p>This is the editor content.</p>
</div>

<h4 id="title">Tags</h4>
<input type= "text" id="title-input">

<h4 id="title">Articulos relacionados</h4>
<input type= "text" id="title-input">


<input type="submit" value="Guardar" class="button-save" onclick="insert()">
<!-- sample html for this button-->


</form>