<h3 id= "title">Editar</h3>

<form method="post">

<h4 id="title">Título</h4>
<input type= "text" id="input-title" value="{{article_name}}">

<div id="editor">
    {{{texto}}}
</div>


  

<h4 id="title">Tags</h4>
<div class="centrado">
  <select id='tags-input'  multiple="multiple"></select>
</div>


<h4 id="title">Articulos relacionados</h4>
<div class="centrado">
  <select id='art-rel'  multiple="multiple"></select>
</div>

<div class="buttons-edit">
<button type="button" class="btn btn-default" onclick="back()">Cancelar</button>
<button type="button" class="btn btn-info" onclick="insert()">Guardar</button>
</div>

</form>