

<body>
  <input class="bottom-singin" type="submit">{{casa}}</input>

  
  <div class="container">
    <img class="image-landingpage" src="/images/landingpage.jpg"/>
    
    <input class="buscador-landingpage"  type="text" placeholder="Search"></input>
    
  </div>

  
    
</body>
  


  
