


  <a href=""><input class="bottom-singin" type="submit" value="Ingresar" href="main.handlebars"></input></a>

  
  <div class="container">
    <img class="image-landingpage" src="/images/landingpage.jpg"/>
    
    
    <div class="search-bar">
     
      <input class="buscador-landingpage"  type="text" ID="menu1" placeholder="Search" data-toggle="dropdown"> </input>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Crear una tarifa</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver calendario de tarifa</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Asociar una promocion a tarifa</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Desactivar una tarifa</a></li>
    </ul>
     
      <i class="glyphicon glyphicon-search"></i>
    </div>
    
    
  </div>

  
    

  


  
