<img class="image-landingpage" src="/images/landingpage.jpg"/>

<div class="barra-singin">
    <a href="#"><input class="bottom-singin" type="submit" value="Ingresar"></input></a>
    </div>

<div class= "container">
    
    
    
    <div class="search-bar">
        <input class="buscador-landingpage" type="text" id="menu1" placeholder="Search..." data-toggle="dropdown" onkeyup="filterFunction()"> </input>
      <ul class="dropdown-menu" id= "menu" role="menu" aria-labelledby="menu1">
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTMLJKSHDNJKASNJDKASNKJDSAJKSA</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
    </ul>
     <i class="glyphicon glyphicon-search"></i>

    </div>
  </div>


 
  
  
    
model first
  


  
