

  <h1>{{title}}</h1>
  <p>Los directorios accesibles son:</p>
  <ul>
    <li>/faqtag (para búsqueda agregar /tag)
    <li>/faqfile (para búsqueda agregar /article_name)</li>
    <li>/faqtrel</li>
    <li>/user</li>
  </ul>