<img class="image-landingpage" src="/images/landingpage.jpg" />

{{> login-bar}}

<div class="container-bar-landingpage">
    {{> search}}
</div>

{{#extend "scripts"}}

<script src="/js/autocompletar.js"></script>

{{/extend}}