<img class="image-landingpage" src="/images/landingpage.jpg"/>

<div class="barra-singin">
    <a href="#"><input class="bottom-singin" type="submit" value="Ingresar"></input></a>
    </div>

<div class= "container">
    
    
    
    <div class="search-bar">
        <div class="ui-widget">
            <label for="articles"></label>
            <input id="articles">
        </div>
        <div class="ui-widget" style="margin-top:2em; font-family:Arial">
            Result:
            <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
        </div>
     <!-- <i class="glyphicon glyphicon-search"></i>-->

    </div>

  </div>

  
  

  


  
